$laptop: 1100px;
$desktop: 4000px;
$tablet: 800px;
$phone: 600px;

@mixin laptop {
  @media (max-width: #{$laptop}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}
@mixin phone {
  @media (max-width: #{$phone}) {
    @content;
  }
}

$colors: (
  primary: #45a29e,
  primary-light: #66fcf1,
  grey: #c5c6c7,
  primary-dark: #1f2833,
  black: #0b0c10
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}
